.rand_btn{
	font-size: 110%;
    background: blue;
    color: yellow;
    border: none;
	padding: 5px 10px;
}
.rand_btn:hover{
	opacity:0.7;
}
.inputs{
	  
}
.paste_inputs input{
	  
}
.inputs input{
	    width:45%;
		margin-right: 1%;
		    font-size: 110% !important;
    padding: 5px;
}

.creo{
	position: absolute;
    bottom: 0;
    right: 3rem;
    font-size: 150%;
	font-family: cursive;
	margin-block-end: 0;
}
input[type="radio" i] {
	width: auto !important;
}

.selphie{
	margin: 0 auto;
	text-align: center;
}
.selphie img{
	width: 90%;
}

.btn_current{
	background: blue;
    padding: 10px 15px;
    font-size: 25px;
    text-decoration: none;
	color: yellow;
	font-weight:bold;
	font-size: 140%;
}
.btnn,
.btnn1,
.btn_change{
	background: lightgrey;
    padding: 5px 10px;
    font-size: 25px;
    text-decoration: none;
	color: black;
	font-size: 140%;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
    cursor: pointer;
}
.btn_change:hover,
.btnn:hover,
.btnn1:hover{
	background: blue;
	transition:0.5s;
	color:yellow;
}
body{
	display: flex;
	margin: 0;
	font-family: system-ui;
}

.main{
    background-image: url(img/back1.jpg);
    /*background-position: right;*/
    background-size: contain;
    height: 900px;
    width: 70%;
    background-repeat: no-repeat;
	overflow: hidden;
	-webkit-user-select: none;
	    cursor: inherit;
		position: fixed;
    left: 0;
	
	
}
.back{
  position: relative;
    display: block;
	height:100%;
	color: transparent;
  text-shadow: 0 0 0 black;
  font-family: system-ui;
}
.btn{
	    z-index: 999;
    height: 97%;
    width: 28%;
    margin-left: 2%;
    position: absolute;
    right: 0;
	margin-top: 5px;
    
}

.white_back{
	position: fixed;
    height: 97%;
    width: 1%;
    background: white;
    left: 0;
    z-index: 999;
}
.items{
	position: absolute;
    top: 75%;
    left: 53%;
	width:150px;
height:150px;
}




#doc_number::before{
	content: "00";
	
}




.middle_name{
    position: absolute;
    top: 55%;
   
}
.sex,
.nationality{
	position: absolute; 
	 top: 61.5%;
}



#doc_number{
	display: contents;
    position: absolute;
	font-family: system-ui;
	font-size: 200%;
	  
}




.expiry{
    position: absolute;
    top: 74.5%;
    
}

.golo{
	    position: absolute;
   right: 40.1%;
    top: 39.8%;
}
.golo img{
	   width: 63%;
		
}
.photo{
	    position: absolute;
     left: 18%;
    top: 37%;
}
.photo img{
	        width: 325px;
    height: 430px;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	opacity: 0.7;
	object-fit: cover;
}
#preview{
  /*display: none;*/
}

input[type="file" i] {
    padding: 0;
	background: blue;
    color: yellow;
}
.url_btn{
	padding: 4px;
    font-size: 110%;
}

.url_input{
	   
		font-size:110% !Important;
		padding: 4px;
}
.paste_inputs{
	
}
.btn input{
	font-size:130%;
	outline: none;
	
}


.paste_surname,
.en_paste_surname,
.paste_name,
.en_paste_name,
.paste_date,
.reverse_bir_date{
	position: absolute;
	left: 45.5%;
}
.paste_surname{
	top: 35%;
}
.en_paste_surname{
	top: 39%;
}
.paste_name{
	top: 45%;
}
.en_paste_name{
	top: 49%;
}
.paste_date{
	top: 68%;
}
.reverse_bir_date{
	top: 68%;
	left: 64%;
	direction: rtl;
    text-align: left;
    word-spacing: -8px;
}

.num_doc{
	 top: 74.5%;
    position: absolute;
	opacity: 0.85;
	left: 64.3% !important;
}


textarea{
	opacity: 0.8;
	    font-family: system-ui;
   outline : none;
  resize : none;
  overflow : hidden;
  border:none;
  background:none;
  font-size: 185%;
  text-transform: uppercase;
  text-shadow: 0 0 0 black;
    color: transparent;
	cursor: inherit;
}

.main_row{
	opacity: 1;
 outline : none;
  resize : none;
  overflow : auto;
  border:solid 1px black;
  width: 96%;
    font-size: 110%;
	color:black;
}
.ru,
.en,
.date_row,
.sex,
.middle_name,
.expiry
{
	left: 45.5%;
}
.ru{
  position: absolute;
        top: 32.2%;
    
    line-height: 310%;
  
}

.en{
 
 position: absolute;
    top: 36%;
    
    line-height: 310%;
}
.record_row,
.date_row{
	 top: 59.3%;
	   position: absolute;
}
.date_row{
	
   
   
}

.record_row{    
  direction: rtl;
  text-align: left;
  word-spacing: -8px;

  
}
.record_row::before{
	content:"002-";
	margin-left: -12px;
	font-size: 200%;
}
.alert{
	    color: red;
    font-weight: bold;
    font-size: 130%;
}

.nationality,
.num_doc,
.record_row{
	    left: 64%;
}
.code{
	 position: absolute;
	top: 68%;
    left: 73.8%;
}



@media (max-width: 1600px){
	.url_input {
    font-size: 110% !Important;
    padding: 4px;
}

.url_btn {
    padding: 4px;
    font-size: 110%;
}

.btnn, .btnn1, .btn_change {
    background: lightgrey;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    font-size: 110%;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}
input[type="radio" i] {
    width: auto;
}
.inputs input {
    width: 45%;
    margin-right: 1%;
    font-size: 110% !important;
    padding: 5px;
}

.rand_btn{
	font-size: 110%;
    background: blue;
    color: yellow;
    border: none;
	padding: 5px 10px;
}
.rand_btn:hover{
	opacity:0.7;
}
.inputs{
	  
}
.paste_inputs input{
	  
}
.inputs input{
	    width:41%;
		margin-right: 1%;
		    font-size: 100% !important;
    padding: 5px;
}

.creo{
	position: absolute;
    bottom: 1%;
    right: 3rem;
    font-size: 110%;
	font-family: cursive;
	margin-block-end: 0;
}

.white_back{
	position: fixed;
    height: 100%;
    width: 1%;
    background: white;
    left: 0;
    z-index: 999;
}

.paste_surname,
.en_paste_surname,
.paste_name,
.en_paste_name,
.paste_date,
.reverse_bir_date{
	position: absolute;
	left: 45.5%;
}
.paste_surname{
	top: 28%;
}
.en_paste_surname{
	top: 31.2%;
}
.paste_name{
	top: 36%;
}
.en_paste_name{
	top: 39.2%;
}
.paste_date{
	top: 54.5%;
}
.reverse_bir_date{
	top: 54.6%;
	left: 64%;
	direction: rtl;
    text-align: left;
    word-spacing: -8px;
}
	.btn_current{
    padding: 10px 15px;
    font-size: 18px;
}
.btn_change{
    padding: 5px 10px;
    font-size: 110%;
}


.items{

    top: 60%;
    left: 52.75%;
	width:112.5px;
    height:112.5px;
}

.middle_name{
    top: 44%;
}
.sex,
.nationality{ 
	 top: 49.1%;
}



#doc_number{
	font-size: 150%;	  
}



.golo{
       right: 33.1%;
    top: 31.6%;
}
.golo img{
	   width: 50%;	
}
.photo{
    left: 20%;
    top: 30.75%;
}
.photo img{
	        width: 244px;
    height: 323px;
}

.btn input{
	font-size:110%;
}
.expiry,
.num_doc{
    top: 59.5%;   
}
.num_doc{

	left: 64.5% !important;
}


textarea{
  font-size: 150%;
}

.main_row{
  width: 90%;
    font-size: 97.5%;
}
.ru,
.en,
.date_row,
.sex,
.middle_name,
.expiry
{
	left: 45.5%;
}
.ru{
               top: 26%;
    line-height: 300%;
  
}

.en{
    top: 29%;
     line-height: 300%;
}
.record_row,
.date_row{
	 top: 47.5%;
}


.record_row::before{
	font-size: 150%;
}
.alert{

    font-size: 97.5%;
}

.nationality,
.num_doc,
.record_row{
	    left: 64%;
}

.code{
	top: 54.6%;
}

.selphie img {
    width: 70%;
}

}
@media (max-width: 1280px){
.btn_current{
    padding: 10px 15px;
    font-size: 18px;
}
.btn_change{
    padding: 10px 15px;
    font-size: 18px;
}


.items{

        top: 48.5%;
    left: 55%;
    width: 105px;
    height: 105px;
}

.middle_name{
    top: 36.2%;
}
.sex,
.nationality{ 
	 top: 40.5%;
}



#doc_number{
	font-size: 140%;	  
}



.golo{
     right: 26.55%;
    top: 26%;
}
.golo img{
	       width: 43%;
}
.photo{
    left: 19%;
    top: 24.75%;
}
.photo img{
	width: 214px;
    height: 283px;
}

.btn input{
	font-size:135%;
}
.expiry,
.num_doc{
    top: 49%;   
}
.num_doc{

	left: 64.5% !important;
}


textarea{
  font-size: 130%;
}

.main_row{
  width: 90%;
    font-size: 97.5%;
}
.ru,
.en,
.date_row,
.sex,
.middle_name,
.expiry
{
	left: 45.5%;
}
.ru{
    top: 21.3%;
    line-height: 290%;
  
}

.en{
    top: 23.8%;
    line-height: 290%;
}
.record_row,
.date_row{
	 top: 38.8%;
}


.record_row::before{
	font-size: 150%;
}
.alert{

    font-size: 97.5%;
}

.nationality,
.num_doc,
.record_row{
	    left: 64%;
}

.code{
	top: 44.7%;
	left: 74%;
}
.selphie img{
	width: 55%;
}

}

@media (max-width: 1366px){
	.inputs input {
    width: 45%;
    margin-right: 1%;
    font-size: 110% !important;
    padding: 5px;
}

.rand_btn{
	font-size: 80%;
    
}
.rand_btn:hover{
	opacity:0.7;
}
.inputs{
	  
}
.paste_inputs input{
	  
}
.inputs input{
	 width: 43%;
    margin-right: 1%;
    font-size: 80% !important;
    padding: 5px;
}
input[type="radio" i] {
    width: auto;
}
.creo{
	
    bottom: 1%;

    font-size: 80%;
	
}

.white_back{
	position: fixed;
    height: 100%;
    width: 1%;
    background: white;
    left: 0;
    z-index: 999;
}

.paste_surname,
.en_paste_surname,
.paste_name,
.en_paste_name,
.paste_date,
.reverse_bir_date{
	position: absolute;
	left: 45.5%;
}
.paste_surname{
	top: 25%;
}
.en_paste_surname{
	top: 28%;
}
.paste_name{
	top: 32%;
}
.en_paste_name{
	top: 35%;
}
.paste_date{
	top: 48.5%;
}
.reverse_bir_date{
	top: 48.5%;
	left: 64%;
	direction: rtl;
    text-align: left;
    word-spacing: -8px;
}
	
	
.btn_current{
    padding: 10px 15px;
    font-size: 110%;
}
.btn_change{
    padding: 5px 10px;
    font-size: 100%;
}
.btnn, .btnn1, .btn_change {
    
    font-size: 80%;
   
}


.items{

        top: 53%;
    left: 55%;
    width: 105px;
    height: 105px;
}

.middle_name{
    top: 39%;
}
.sex,
.nationality{ 
	 top: 43.6%;
}



#doc_number{
	font-size: 150%;	  
}



.golo{
    right: 29.2%;
    top: 27.8%;
}
.golo img{
	       width: 45.9%;
}
.photo{
    left: 19%;
    top: 27.75%;
}
.photo img{
	width: 214px;
    height: 283px;
}

.btn input{
	font-size:80%;
}
.url_input {
    font-size: 80% !Important;
    padding: 4px;
}
.url_btn {
    padding: 4px;
    font-size: 80%;
}
.expiry,
.num_doc{
    top: 53%;   
}
.num_doc{

	left: 64.5% !important;
}


textarea{
  font-size: 140%;
}

.main_row{
  width: 95%;
    font-size: 80%;
}
.ru,
.en,
.date_row,
.sex,
.middle_name,
.expiry
{
	left: 45.5%;
}
.ru{
    top: 23%;
    line-height: 290%;
  
}

.en{
    top: 25.8%;
    line-height: 290%;
}
.record_row,
.date_row{
	 top:41.8%;

}


.record_row::before{
	font-size: 150%;
}
.alert{

    font-size: 97.5%;
}

.nationality,
.num_doc,
.record_row{
	    left: 64%;
}

.code{
	top: 48.5%;
}
.selphie img{
	width: 60%;
}
}


@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only 
screen and (min-device-pixel-ratio : 1.5) { 
.btn_current{
    padding: 10px 15px;
    font-size: 18px;
}
.btn_change{
    padding: 10px 15px;
    font-size: 18px;
}


.items{

        top: 66%;
    left: 55%;
    width: 110px;
    height: 110px;
}

.middle_name{
    top: 48.8%;
}
.sex,
.nationality{ 
	 top: 54.5%;
}



#doc_number{
	font-size: 165%;	
font-weight:300;	
}



.golo{
    right: 36.3%;
    top: 34.8%;
}
.golo img{
	       width: 56%;
}
.photo{
    left: 19%;
    top: 33.75%;
}
.photo img{
	width: 276px;
    height: 366px;
}

.btn input{
	font-size:135%;
}
.expiry,
.num_doc{
    top: 65.5%;   
}
.num_doc{

	left: 64.5% !important;
}


textarea{
  font-size: 160%;
  opacity:0.7;
  font-weight:300;
}

.main_row{
  width: 90%;
    font-size: 97.5%;
}
.ru,
.en,
.date_row,
.sex,
.middle_name,
.expiry
{
	left: 45.5%;
}
.ru{
    top: 28.5%;
    line-height: 310%;
  
}

.en{
    top: 32%;
    line-height: 305%;
}
.record_row,
.date_row{
	 top: 53.5%;
}


.record_row::before{
	font-size: 150%;
}
.alert{

    font-size: 97.5%;
}

.nationality,
.num_doc,
.record_row{
	    left: 64%;
}

.code{
	top: 60.2%;
	left:74%;
}
.selphie img{
	width: 75%;
}

}














